<h1>List - Show page </h1>

<p><%= @list.name %></p>

<p><%= link_to "Back to Lists", lists_path %></p>

<p><strong>Bookmarks</strong></p>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"> <%= bookmark.movie.title %> <br> <%= bookmark.comment %> </li>
  <% end %>
</ul>
<br>
