<h1> Let's add a bookmark </h1>
<p> Add a movie to your list with a bookmark </p>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit , class: "btn btn-primary" %>
<% end %>
